:root {
    /* color */
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    /* font size */
    --size-13: 1.3rem;
    --size-16: 1.6rem;
    --size-18: 1.8rem;
    --size-24: 2.4rem;
    /* width */
    --w-input: 38rem;
    --w-btn-tip: 11.7rem;
    --w-input-mobile: 31.1rem;
    --w-btn-tip-mobile: 14.7rem;
    /* height */
    --w-icon: 1.8rem;
    --h-input-btn: 4.8rem;
    /* padding */
    --p-input: 1.8rem;
    /* border radius */
    --br-input-reset: .6rem;
    --br-btn: .4rem;
}

* {
    font-family: "Space Mono", monospace;
    box-sizing: border-box;
    border: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grayish-cyan);
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 8.8rem;
    margin-bottom: 8.8rem;
}

.calculator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--white);
    min-width: 92rem;
    min-height: 48rem;
    padding: 3.2rem 3.2rem 3.2rem 4.8rem;
    border-radius: 2.4rem;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.info__label {
    font-size: var(--size-16);
    color: var(--dark-grayish-cyan);
}

.info__alert {
    display: inline-block;
    font-size: var(--size-16);
    text-align: right;
    color: darkorange;
}

.input {
    position: relative;
}

.input__icon {
    position: absolute;
    height: var(--h-icon);
    top: 1.5rem;
    left: 1.8rem;
}

.input__box {
    display: block;
    font-size: var(--size-24);
    text-align: end;
    width: var(--w-input);
    height: var(--h-input-btn);
    color: var(--very-dark-cyan);
    background-color: var(--very-light-grayish-cyan);
    border-radius: var(--br-input-reset);
    padding: var(--p-input);
    margin-top: 1.2rem;
    cursor: pointer;
}

.box::placeholder {
    color: var(--very-dark-cyan);
}

.box:focus {
    border: 2px solid var(--strong-cyan);
}

.alert__border {
    border: 2px solid darkorange;
}

.tip {
    margin: 4.6rem 0 4.6rem;
}

.tip__grid {
    display: grid;
    grid-template-columns: var(--w-btn-tip) var(--w-btn-tip) var(--w-btn-tip);
    grid-template-rows: var(--h-input-btn) var(--h-input-btn);
    column-gap: 1.4rem;
    row-gap: 1.6rem;
    margin-top: 1.8rem
}

.tip__button {
    font-size: var(--size-24);
    width: var(--w-btn-tip);
    height: var(--h-input-btn);
    color: var(--white);
    background-color: var(--very-dark-cyan);
    border-radius: var(--br-btn);
    cursor: pointer;
}

.active {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.tip__button:hover {
    background-color: hsla(172, 67%, 45%, 0.5);
    color: var(--very-dark-cyan);
}

.tip__button--custom {
    font-size: var(--size-24);
    text-align: end;
    width: var(--w-btn-tip);
    height: var(--h-input-btn);
    color: var(--very-dark-cyan);
    background-color: var(--very-light-grayish-cyan);
    border-radius: var(--br-btn);
    cursor: pointer;
}

.tip__button--custom::placeholder {
    text-align: center;
}

.tip__button--custom:focus {
    border: 2px solid var(--strong-cyan);
}

.calculator--result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--very-dark-cyan);
    min-width: 41.3rem;
    min-height: 41.7rem;
    padding: 5.9rem 4rem 4.7rem 4rem;
    border-radius: 1.6rem;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text__title {
    font-size: var(--size-16);
    color: var(--white);
    margin-bottom: .6rem;
}

.text__paragraph {
    font-size: var(--size-13);
    color: var(--grayish-cyan);
}

.result__calculation {
    font-size: 4.6rem;
    color: var(--strong-cyan);
    margin-bottom: 6rem;
}

.calculator__reset {
    font-size: var(--size-18);
    text-transform: uppercase;
    color: var(--very-dark-cyan);
    background-color: var(--strong-cyan);
    width: 33.3rem;
    height: 4.8rem;
    border-radius: var(--br-input-reset);
    cursor: pointer;
}

.--opacity-on{
    opacity: .25;
    cursor: auto;
}

.--opacity-off{
    opacity: 1;
}

.--opacity-off:hover {
    background-color: var(--light-grayish-cyan);
}

@media only screen and (max-width: 950px) {

    .logo {
        margin: 5rem 0 4rem;
    }

    .calculator {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 37.5rem;
        min-width: 37.5rem;
        height: 78.9rem;
        min-height: 78.9rem;
        padding: 3.8rem 2.4rem 3.2rem 2.4rem;
    }

    .calculator--input {
        padding: 0 .8rem;
    }

    .bill__input {
        width: var(--w-input-mobile);
        margin-top: 1.2rem;
        margin-right: auto;
        margin-bottom: 3.8rem;
        margin-left: auto;
    }

    .tip {
        display: grid;
        grid-template-columns: var(--w-btn-tip-mobile) var(--w-btn-tip-mobile);
        grid-template-rows: var(--h-input-btn) var(--h-input-btn) var(--h-input-btn);
        column-gap: 1.6rem;
        padding: 1.8rem 0 3.8rem;
    }

    .tip__btn,
    .tip__btn--custom {
        width: var(--w-btn-tip-mobile);
    }

    .people__label {
        margin: 0;
    }

    .people__input {
        width: var(--w-input-mobile);
        margin: .8rem 0 3.2rem 0;
    }

    .people__icon {
        top: 38.5%;
    }

    .calculator--result {
        width: 32.7rem;
        min-width: 32.7rem;
        height: 25.7rem;
        min-height: 25.7rem;
        padding: 4.5rem 2.2rem 2.4rem 2.4rem;
    }

    .result__calculation {
        font-size: 3.2rem;
        margin-bottom: 4rem;
    }

    .result__reset {
        width: 28.1rem;
        border-radius: .4rem;
    }

}